*{
    margin: 0%;
}
h1,h2,h3{
    font-family: var(--custom-font-family);
    text-transform: uppercase;
    font-size: 30px;
}
:root{
    --custom-font-family:"Merienda";
}
p,a{
    font-family: var(--custom-font-familia);
    font-size: 20px;
}
:root{
    --custom-font-familia:"Bree Serif";
}
.wrapper{
    width: 100%;
    margin: 0 auto;
}
 .logo img{ 
    width:45%;
    border-radius: 50%;
    margin-top: 30px;
}
.logo{
    display: flex;
}
/* .icon{
    display: none;
    color: #FFFFFF;
} */
.inform{
    background-color: black;
    width: 17%;
    text-align: center;
    /* padding: 10px 30px; */
}
.info a{
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 20px 0px ;
    font-size: 20px;
    /* border-bottom: 1px solid #ccc; */
}
.info p{
    color: #FFFFFF;
    margin-top: 20px;
    /* font-size: 20px; */
}
.follow{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.follow img{
    width: 30px;
    border-radius: 0;
}
.info a:hover{
    color: #0000ff;
}
/*
.logo{
    background-color: black;
    width: 20%;
    text-align: center;
}

.logo p{
    color: white;

}
.inside{
    display: flex;
}
*/
.main{
    background-image: url(images/pexels-taha-samet-arslan-14573611.jpg);
    width: 83%;
    /* background-size:100% ; */
}
.text{
    width: 50%;
    margin:20% auto;
    text-align: center;
}
.main h1{
    font-size:50px;
}
.main p{
    margin: 20px 0px;
    /* font-size: 20px; */
}
/* .item{
    display: flex;
} */ 
.about h1{
    /* text-align: center; */
    margin: 20px 10px 0px 10px;
    font-size: 30px;
}
.about p{
    width: 50%;
    margin: 10px;
}
.picture img{
    margin: 20px 0px ;
    width: 20em;
    height: 20em;
}
section:first-of-type{
    background-color: #0000ff;
}
.meet{
    display: flex;
    gap:50px;
    /* justify-content: space-between; */
    align-items: center;
    width: 90%;
    margin: 0 auto;
    
}
.meet p{
    width: 80%;
}
.meet button{
    margin: 50px 10px 0px 10px;
    padding: 15px 35px;
    border-radius: 30px;
    /* outline: none; */
    background-color: #000000;
    border: none;
}
.meet a{
    text-decoration: none;
    color: #ffffff;
}
.images img{
    width: 50%;
}
section:nth-of-type(2) h1{
    text-align: center;
    padding:20px 0px 30px 0px;
}
section:nth-of-type(2){
    background-image: linear-gradient(#2E3192,#1BFFFF);
}
.p-one{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    padding: 20px 0px;
}
.p-one p{
    width: 70%;
}
.two{
    margin: 20px 0px;
}
.two a{
    color: #ffffff;
    text-decoration: none;
    padding-left:10px ;
}
.p-one img{
    width: 25em;
    border-radius: 20px;
    padding: 10px 0px;
}
.p-two{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    padding: 20px 0px;

}
.p-two p{
    width: 70%;
}
.one,.pic{
    /* width: 50%; */
    width: 50%;
}
.p-two img{
    width: 25em;
    border-radius: 20px;
    padding: 10px 0px;   
}
.stacks{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
    margin: 0 auto;
    gap: 50px;
}
.stacks img{
    width: 5em;
    margin: 10px;
}
.image{
    /* border: 5px solid black; */
    box-shadow: 2px 2px 2px 2px #000000;
}
.image:nth-of-type(2) img{
    width: 8em;
}
section:nth-of-type(3) h1{
    text-align: center;
    margin: 15px 0px;
}
.first p{
    width: 40%;
    color: #FFFFFF;
}
.contact{
    align-items: center;
    /* text-align: center; */
}
.contact{
    width: 90%;
    margin: 0 auto;
    display: flex;
    border-bottom: 1px solid #ccc;
}
.second{
    margin: 10px 0px;
}
.real{
    display: flex;
    align-items: center;
    gap:10px ;
}
input{
    padding: 10px ;
    width: 25rem;
    margin: 8px 0px;
}
form{
    margin: 20px 10px;
}
input:last-of-type{
    /* padding: 6px 2px 60px 20px; */
    padding-bottom: 60px;
    width: 25rem;
}
.third{
    background-image: linear-gradient(#5899E2 ,#FFFFFF);
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 30px;
    width: 65%;
    text-align: center;
}
 .p-three{
    display: none;
 } 

.third button{
    margin: 0px 10px;
    padding: 12px 30px;
    border-radius: 10px;
   
}
.f-one{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}
.fourth p{
    text-align: center;
}
.f-one img{
    width: 6%;
    border-radius: 50%;
    margin: 20px;
} 
.f-two{
    display: flex;
}
.f-two img{
   width: 3em;
}
footer{
    background-image: linear-gradient(#274060,#1B2845);
    margin-top: 20px;
}
footer h1{
    color: #FFFFFF;
    text-align: center;
}
footer h2{
    color: #FFFFFF;
}
footer img{
    width: 20px;
    border-radius: 0;

} 
footer p{
    padding-bottom: 10px;
}
.link img {
    display: none;
    /* visibility: hidden; */
}
.links a{
    display: none;
}
.icon i{
    display: none;
}
/* .hamburger{
    display: none;
} */


/* @media((min-width:375px) and (max-width:768px)){
    nav a{
        display: none;
    }
    .icon{
        display: block;
        font-size: 30px;
        margin: 30px ;
        
    }
    .logo img{
        width: 10em;
    }
    .logo {
        display: none;
        width: 0%;
    }
    .main{
        width: 100%;
    }
    .meet{
        display: block;
        width: 80%;
        margin: 0 auto;
    }
    .picture img{   
    width: 100%;
    border-radius: 60px;
    }
    .about p{
    width: 98%;
    }
    .about h1{
        text-align: center;
    }
    .meet button{
    margin: 30px 10px 20px 10px;
    padding: 0px 35px;
    border-radius: 30px;
    }
    .work img{
    width: 50%;
    height: 40%;
    border-radius: 20px 20px 0px 0px;
    }
    .works{
        display: block;
        width: 90%;
        margin: 0 auto;
    }
    .stacks{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .stacks img{
        width: 10em;
    }
    .contact{
        display: block;
    }
    .first p{
    width: 80%;
    }
    .real:nth-last-child(3){
        display: none;
    }
    .third{
        margin-top: 20px;
    }
    .p-one{
        display: block;
    }
    .p-one p{
        width: 100%;
    }
    .p-two{
        display: none;
    }
    .p-three{
        display: block;
    }
    .p-three img{
        width: 100%;
    border-radius: 20px;
    padding: 10px 0;

    }
    .p-one img{
        width: 100%;
    border-radius: 20px;
    padding: 10px 0;

    } .p-two img{
        width: 100%;
    border-radius: 20px;
    padding: 10px 0;

    }
    .p-three{
        display: block;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;
        align-items: center;
    }
    .p-three p{
        width: 100%;
    }
    .one,.pic{
        width: 100%;
    }
    .image:nth-of-type(2) img{
        width: 15em;
    }
    .stacks{
        display: grid;
        grid-template-columns: 1fr ;
        width: 50%;
        margin: 0 auto;
        gap: 50px;
    }
    .f-one img{
        width: 3em;
    }
    .f-two img{
        width: 2em;
     }


} */
@media((min-width:375px) and (max-width:768px)){
    .icon i{
        display: block;
        margin: 20px 10px 0px 10px;
        font-size: 30px;
        color: #FFFFFF;
    }
    .info a{
        display: none;
        color: #ffffff;
        text-decoration: none;
        display: block;
        padding: 20px 0px ;

    }
    .logo img{ 
        width:30%;
        border-radius: 50%;
        margin-top: 30px;
    }
    .main{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
     .inform {
        display: none;
     } 
     
     .links {
        background-color: #000000;
        border-radius: 5px;
        width: 100px;
        /* border: 2px solid black; */
        position: absolute;
        transition: .3s ease;
     } 
     .links a{
        display: block;
        padding: 20px 10px;
        color: #FFFFFF;
        text-decoration: none;
        /* border-bottom: 1px solid #ccc; */
     }
     .links a:hover{
        color: #2E3192;
     }
     .lin{
        display: none;
     } 
     .icon i{
        /* position: absolute; */
        /* padding: 10px; */
     } 
     .text{
        position: relative;
     }
     .meet{
        display: block;
        width: 80%;
        margin: 0 auto;
    }
    .picture img{   
    width: 100%;
    border-radius: 60px;
    }
    .about p{
    width: 98%;
    }
    .about h1{
        text-align: center;
    }
    .meet button{
    margin: 30px 10px 20px 10px;
    padding: 0px 35px;
    border-radius: 30px;
    }
    .work img{
    width: 50%;
    height: 40%;
    border-radius: 20px 20px 0px 0px;
    }
    .works{
        display: block;
        width: 90%;
        margin: 0 auto;
    }
    .contact{
        display: block;
    }
    .first p{
    width: 80%;
    }
    .real:nth-last-child(3){
        display: none;
    }
    .third{
        margin-top: 20px;
    }
    .p-one{
        display: block;
    }
    .p-one p{
        width: 100%;
    }
    .p-two{
        display: none;
    }
    .p-three{
        display: block;
    }
    .p-three img{
        width: 100%;
    border-radius: 20px;
    padding: 10px 0;

    }
    .p-one img{
        width: 100%;
    border-radius: 20px;
    padding: 10px 0;

    } .p-two img{
        width: 100%;
    border-radius: 20px;
    padding: 10px 0;

    }
    .p-three{
        display: block;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;
        align-items: center;
    }
    .p-three p{
        width: 100%;
    }
    .one,.pic{
        width: 100%;
    }
    .image:nth-of-type(2) img{
        width: 15em;
    }
     .stacks{
        display: grid;
        grid-template-columns: 1fr ;
        width: 50%;
        margin: 0 auto;
        gap: 50px;
        text-align: center;
    }
    .stacks img{
        width: 9em;
        margin: 10px;

    }
    .image{
        /* border: 5px solid black; */
         box-shadow: 2px 2px 2px 2px #000000;
    }
    .image:nth-of-type(2) img{
        width: 15em;
    } 
    .f-one img{
        width: 3em;
    }
    .f-two img{
        width: 2em;
     }
     input{
        padding: 10px ;
        width: 15rem;
        margin: 8px 0px;
    }
    form{
        margin: 20px 10px;
    }
    input:last-of-type{
        /* padding: 6px 2px 60px 20px; */
        padding-bottom: 60px;
        width: 15rem;
    }
    .third{
        background-image: linear-gradient(#5899E2 ,#FFFFFF);
        border-radius: 10px 10px 0px 0px;
        margin-bottom: 30px;
        width: 70%;
        text-align: center;
    }
     /* .icon i:hover .links{
        display: block;
     } */
    /* .inform{
        display: none;
    } */
    /* .link {
        background-color: black;
        top: 0;
        right: 0;
        width: 100%;
        margin: 10px;

    } */
    
    /* .link a{
        color: white;
        text-align: center;
        display: block;
        text-decoration: none;
        padding: 15px 0px;
    }
    .link a:hover{
        color: #2E3192;
    }  */

    /* .icon:hover div.inform{
        display: block;
    } */
    /* .hamburger{
        display: block;
    } */
    
} 
